# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Java
*.class
*.jar
*.war

# IDE
.idea/
*.iml
.vscode/
.project
.classpath
.settings/

# Node
voting-ui/node_modules/
voting-ui/dist/
voting-ui/.angular/

# OS
.DS_Store
